.hero { padding-bottom: 80px; }
.hero h2 { margin-top: 50 !important;}
.hero a { font-weight: 700; color: rgba(255,255,255,.8); }
.hero a:hover { color: rgb(255,255,255);}
.section-container .content { padding: 0 24px !important; }

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  margin: 5px auto;
}

.row.display .columns, .row.display .column {
  background: #e7e7e7;
  border: 1px solid #dddddd;
  font-size: 13px;
  font-weight: bold;
  text-indent: 3px;
  padding-top: 8px;
  color: #444;
  padding-bottom: 8px;
}

ul.colors {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  height: 120px;
}

ul.colors li {
  display: inline;
  float: left;
  margin: 0 0 0 15px;
  font-weight: bold;
  font-size: 12px;
  width: 20%;
}

ul.colors span {
  display: block;
  height: 80px;
  margin: 0;
  border: solid 1px #ddd;
}
ul.colors small {
  display: block;
  text-transform: lowercase;
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  color: #777;
}

ul.disc {
  margin-left: 18px;
}

@media only screen and (max-width: 767px) {
  .styleguide.hero {
    padding-top: 70px;
  }

  .section-container.vertical-tabs section.active .content {
    padding: 0;
  }

  .section-container.vertical-tabs section p.title {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .section-container.vertical-tabs section.active p.title {
    margin-bottom: 20px;
  }
  .section-container.vertical-tabs section.active p.title a {
    color: #ccc;
  }
}