body.site {
	a {
		color:$pink;
		&:hover { color:lighten($pink, 10%); }
		&:active { color:darken($pink, 20%); }
	}

}

button, .button {
	@include tisa;
	text-transform:uppercase;
	font-size:rem-calc(15);
		@media #{$small-only} { font-size:rem-calc(13) !important; }
		@media #{$medium-only} { font-size:rem-calc(14) !important; }
	padding:rem-calc(12) rem-calc(32) !important;
		@media #{$small-only} { padding:rem-calc(7) rem-calc(18) !important; }
		@media #{$medium-only} { padding:rem-calc(7) rem-calc(18) !important; }
	background-color: transparent !important;
	border: 3px solid #b698ac !important;
	color:$pink;
	border-radius: 6px !important;
	font-weight:600 !important;

	&:hover {
		color:darken($pink,10%);
		border-color:$pink !important;
	}

	&:active {
		background-color:rgba(255,255,255,.3);
		color:darken(#8b1d65,10%);
	}

	&.white {
		border-color:#93d7b0 !important;
		color:#dfefe4 !important;
	}

	&.light-green {
		border-color:#93d7b0 !important;
		color:#96d1ab !important;
	}

	&.orange {
		border-color:#eaa66f !important;
		color:darken(#f6d9cf,20%) !important;

		&:hover { background:rgba(255,255,255,.1) !important; }

		&:active { background:rgba(255,255,255,.2) !important; }
	}

	&.light-gray {
		border-color:#7a8082 !important;
		color:#8f9496 !important;

		&:hover { background:rgba(255,255,255,.1) !important; }

		&:active { background:rgba(255,255,255,.2) !important; }
	}

	&.blue {
		border-color:#6784ad !important;
		color:darken(#ccd1da,20%) !important;

		&:hover { background:rgba(255,255,255,.1) !important; }

		&:active { background:rgba(255,255,255,.2) !important; }
	}

	&.dark-green {
		border-color:#cae8d5 !important;
		color:#96d1ab !important;
	}

	&.dark-orange {
		border-color:#f7c198 !important;
		color:#f3a773 !important;
	}

	&.dark-purple {
		border-color:#be9cf1 !important;
		color:#be9cf1 !important;
	}


}


.button-group {
	border:none !important;


}