<div style="color:black;" ng-show="false">
    <!-- start of carousel -->
    <div ng-repeat="item in charities" ng-model="aboutExpanded">
        <img ng-src="{{item.charity.logoColor}}">
        <h3>{{item.name}}</h3>
        <div ng-switch="aboutExpanded[$index]">
            <div ng-switch-when="undefined">
                <p>{{item.charity.about.split(' ').slice(0,25).join(' ')}}... (Minified)</p>
                <label><a ng-click="aboutExpanded[$index] = true">Learn More</a></label>
            </div>
            <div ng-switch-when="true">
                <p>{{item.charity.about}} (Expanded)</p>
                <label><a ng-click="aboutExpanded[$index] = undefined">Learn Less</a></label>
            </div>
        </div>
    </div>
    <!-- end of carousel -->
</div>

<div class="game-background philz with-image">

  <div class="row section heading select-charity-heading logo">
    <div class="large-10 medium-12 columns center">

      <ul class="heading-grid">
        <li><img ng-src="{{game.design.logo}}"></li>
        <li>
          <h3>
            Select a Cause
            <small>When you select one of these three charities, Philz Coffee will
        donate $1.00 to your cause for every 100 points you earn!</small>
          </h3>
        </li>
      </ul>

    </div>
  </div>

  <div class="row section select-charity">
    <div class="large-10 medium-12 columns center text-center">
      <div data-carousel data-carousel-class="orbit-content charity text-center" data-on-page-upcoming="loadPage(page, tmplCb)" data-give-carousel-to="onCarouselAvailable(carousel)">
      <div class="orbit-container">
        <ul data-orbit class="orbit-content charity text-center orbit-slides-container" style="height:300px;">
          <li>
            <div class="show-for-small-only">
              <ul class="small-block-grid-1 text-center">
                <li ng-repeat="item in charities | limitTo:1">
                  <a href="game-heart.php">
                    <img src="../images/logo-charity-wwf.jpg" class="center circle hop">
                    <h4>{{item.name}}</h4>
                    <p class="lead small light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id magna dictum, dictum libero at, cursus ipsum.
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="show-for-medium-only">
              <ul class="medium-block-grid-2 text-center">
                <li ng-repeat="item in charities | limitTo:2">
                  <a href="game-heart.php">
                    <img src="../images/logo-charity-wwf.jpg" class="center circle hop">
                    <h4>{{item.name}}</h4>
                    <p class="lead small light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id magna dictum, dictum libero at, cursus ipsum.
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="show-for-large-only">
              <ul class="large-block-grid-3 text-center">
                <li ng-repeat="item in charities | limitTo:3">
                  <a href="game-heart.php">
                    <img src="../images/logo-charity-wwf.jpg" class="center circle hop">
                    <h4>{{item.name}}</h4>
                    <p class="lead small light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id magna dictum, dictum libero at, cursus ipsum.
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <!-- Navigation Arrows -->
        <a class="orbit-prev" data-ng-show="hasPrevious()" data-ng-click="previous()">
          Prev<span></span>
        </a>
        <a class="orbit-next" data-ng-show="hasNext()" data-ng-click="next()">
          Next<span></span>
        </a>
      </div>
      </div>
        
      </div>

    </div>
  </div>

</div>