<div class="game-background philz">

  <div class="row added-2-heart">
    <div class="large-12 columns">

      <div class="row section heading add-to-heart logo">
        <div class="large-10 medium-10 columns center">
          <ul class="heading-grid">
            <li><img ng-src="{{game.design.logo}}"></li>
            <li>
              <h3>
                You can help FeedAmerica feed 1000 people by completing our heart
                <small><strong>8 of 10 games have already been played!</strong></small>
              </h3>
            </li>
          </ul>
        </div>
      </div>

      <div class="row section added-to-heart">
        <div class="large-10 medium-10 columns center text-center">
          <a href="game-play.php">
            <div class="heart-container">
  <img src="../images/heart-game-mask.png" class="heart-mask">

  <div class="person-container">

  <div class="first">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/idiot/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/mizko/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/leemunroe/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jayrobinson/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/Stievius/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/thierrykoblentz/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/vladarbatov/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/syropian/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/holdenweb/128.jpg">12
  </div>

  <div>
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/angelceballos/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/ahmetsulek/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/cemshid/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/Chakintosh/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/chandlervdw/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/flashmurphy/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/RobSterlini/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/ateneupopular/128.jpg">12
  </div>

  <div>
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/catarino/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/mds/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/markjenkins/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/traneblow/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/isacosta/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jakemoore/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/bermonpainter/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/baires/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/blakesimkins/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/lewisainslie/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/matt3224/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/arthurholcombe1/128.jpg">13
  </div>

  <div>
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/Karimmove/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/souuf/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/aaronkwhite/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/atariboy/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/victorquinn/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/kosmar/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/abotap/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/kaelifa/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jesseddy/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/guillemboti/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/cynthiasavard/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/wintopia/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/rdbannon/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/megdraws/128.jpg">14
  </div>

  <div>
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/uxpiper/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/nsamoylov/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/keyuri85/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/xalionmalik/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/roxanejammet/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/nicoleglynn/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/elenadissi/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/aiiaiiaii/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/aislinnkelly/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/millinet/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/perretmagali/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/giuliusa/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/brandonmorreale/128.jpg">13
  </div>

  <div>
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/stushona/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/abdulhyeuk/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jeremiespoken/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/lindseyzilla/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/missaaamy/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/eitarafa/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/m_kalibry/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/falling_soul/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/lesz/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/vane290/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/frankiefreesbie/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/keyuri85/128.jpg">12
  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/alvarezviolaine/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/character/ad_maybe/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/cyndymessah/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/cibawoman/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/laurium/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jayman/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/neweravin/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/meghanglass/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/SiskaFlaurensia/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/mactopus/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/codysanfilippo/128.jpg">

  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/sajtoo/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jwphillips/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsngr/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/NashVail/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/RovaneDurso/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/molovo/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/mslarkina/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/nicollerich/128.jpg">

  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/ckor/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/Mr_Stezz/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/daryl/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/BeStrangers/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/aaronbushnell/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/character/ad_tobias/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/larrybolt/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/spacewood_/128.jpg">

  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/txcx/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/lonesomelemon/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/mufaddal_mw/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/justinrgraham/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/katiemdaly/128.jpg">
  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/brandonmorreale/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/deeenright/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/hfalucas/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/afusinatto/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/joannefournier/128.jpg">
  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/brandonmorreale/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/deeenright/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/afusinatto/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/joannefournier/128.jpg">
  </div>


  </div>

</div>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>