<div class="game-background philz" style="height:{{windowHeight}}px;">

  <div class="row added-2-heart">
    <div class="large-12 columns">

      <div class="row section heading add-to-heart logo">
        <div class="large-10 medium-10 columns center">
          <ul class="heading-grid">
            <li><img ng-src="{{game.design.logo}}"></li>
            <li>
              <h3>
                {{me.name}}, we are getting started! For every finished heart Philz Coffee donates {{150*game.donationPer}}$ to your selected cause {{pickedCharity.name}}!
                <small><strong>{{votes.heartSize - votes.needed}} of {{votes.heartSize}} games have already been played!</strong></small>
              </h3>
            </li>
          </ul>
        </div>
      </div>

      <div class="row section added-to-heart">
        <div class="large-10 medium-10 columns center text-center">
          <!-- <a href="game-play.php"> -->
            <!--<div class="heart-container" resize style="height:{{elHeight}}px;">-->


<style>
		body {margin:0;}
		.heart-container-lorea {position:relative;width:100%;max-width:500px;height:auto;background-color:rgba(0,0,0,0.2);}
		img.heart-mask {z-index:1000;position:absolute;top:0;left:0;width:100%;height:auto;}
		
		.heart-pic-row {background-color:#fff;}
		.heart-pic-row img {width:7.1428%;}

	</style>
	
<div class="heart-container-lorea">
	<img src="http://sinclaire.ca/clients/onor-app/heart-game-mask-square-5.png" class="heart-mask">
	<div class="heart-row-container">
		<div class="heart-pic-row" ng-repeat="row in range">
			<img ng-repeat="col in range" ng-src="{{profile(row,col)}}" style="{{opacity(row, col)}}">
		</div>
	</div>
</div>

        </div>
      </div>

    </div>
  </div>

</div>



