<div class="game-background philz">

  <div class="row added-2-heart">
    <div class="large-12 columns">

      <div class="row section heading add-to-heart logo">
        <div class="large-10 medium-10 columns center">
          <ul class="heading-grid">
            <li><img ng-src="{{game.design.logo}}"></li>
            <li>
              <h3>
                You can help FeedAmerica feed 1000 people by completing our heart
                <small><strong>{{votes.heartSize - votes.needed}} of {{votes.heartSize}} games have already been played!</strong></small>
              </h3>
            </li>
          </ul>
        </div>
      </div>

      <div class="row section added-to-heart">
        <div class="large-10 medium-10 columns center text-center">
          <a href="game-play.php">
            <div class="heart-container">
  <img src="../images/heart-game-mask.png" class="heart-mask">

  <div class="person-container">

  <div class="first">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="../images/player-pic-holder.png">12
  </div>

  <div>
    <img class="heart-person" src="">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" ng-src="{{playerProfiles[0].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[1].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[2].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[3].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[4].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[5].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[6].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[7].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[8].picture.data.url | avatar}}">
    <img class="heart-person" src="">12
  </div>

  <div>
    <img class="heart-person" src="">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" ng-src="{{playerProfiles[9].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[10].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[11].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[12].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[13].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[14].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[15].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[16].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[17].picture.data.url | avatar}}">
    <img class="heart-person" src="">
    <img class="heart-person" src="">13
  </div>

  <div>
    <img class="heart-person" src="">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" ng-src="{{playerProfiles[18].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[19].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[20].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[21].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[22].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[23].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[24].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[25].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[26].picture.data.url | avatar}}">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="">14
  </div>

  <div>
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" ng-src="{{playerProfiles[26].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[27].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[28].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[29].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[30].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[31].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[32].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[33].picture.data.url | avatar}}">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="">
    <img class="heart-person" src="">13
  </div>

  <div>
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" ng-src="{{playerProfiles[34].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[35].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[36].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[37].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[38].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[39].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[40].picture.data.url | avatar}}">
    <img class="heart-person" src="">
    <img class="heart-person" src="">12
  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" ng-src="{{playerProfiles[41].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[42].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[43].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[44].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[45].picture.data.url | avatar}}">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="">
    <img class="heart-person" src="">

  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" ng-src="{{playerProfiles[46].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[47].picture.data.url | avatar}}">
    <img class="heart-person" ng-src="{{playerProfiles[48].picture.data.url | avatar}}">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" src="">
    <img class="heart-person" src="">9

  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="../images/player-pic-holder.png">
    <img class="heart-person" ng-src="{{playerProfiles[48].picture.data.url | avatar}}">
    <img class="heart-person" src="">
    <img class="heart-person" src="">
    <img class="heart-person" src="">8

  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/txcx/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/lonesomelemon/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/mufaddal_mw/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/justinrgraham/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/katiemdaly/128.jpg">5
  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/brandonmorreale/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/deeenright/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/hfalucas/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/afusinatto/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/joannefournier/128.jpg">5
  </div>

  <div class="hide-for-small">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/brandonmorreale/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/deeenright/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/afusinatto/128.jpg">
    <img class="heart-person" src="https://s3.amazonaws.com/uifaces/faces/twitter/joannefournier/128.jpg">4
  </div>


  </div>

</div>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>