<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
				<div class="level-complete">
					<p>You can get some help here</p>
				</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-right" ng-click="revealLetters()">Reveal Letter </button>
        <button class="btn btn-success pull-right" ng-click="removeLetters()">Remove Letters </button>        
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dalog -->