<div id="scoreboard">
	<div class="row">
		<div class="span12">
			<h1>Scoreboard</h1>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="score-block current-score">
				{{me.name}} current score {{state.score}}
			</div>
		</div>
		<div class="span6">
			<div class="score-block best-score">
				You best score {{bestScore}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<button class="btn btn-primary btn-block" ng-click="playAgain()">Play Again</button>
		</div>
		<div class="span6">
			<button class="btn btn-primary btn-block" ng-click="getPrize()">Get prize!</button>
		</div>
	</div>
</div>
