<div class="game-background philz with-image">

  <div class="row section heading leaderboard-heading logo">
    <div class="large-10 medium-12 columns center">

      <ul class="heading-grid">
        <li><img ng-src="{{game.design.logo}}"></li>
        <li><h3>Leaderboard</h3></li>
      </ul>

    </div>
  </div>

  <div class="row section leaderboard">

    <div class="large-10 medium-12 columns center">

      <div class="panel rounded">
        <dl class="tabs">
          <dd ng-class="{active:isActiveTab('friends-tab')}"><a analytics-on="friends" ng-click="onClickTab('friends-tab')">Friends</a></dd>
          <dd ng-class="{active:isActiveTab('week-tab')}"><a analytics-on="week" ng-click="onClickTab('week-tab')">This Week</a></dd>
          <dd ng-class="{active:isActiveTab('alltime-tab')}"><a analytics-on="allTime" ng-click="onClickTab('alltime-tab')">All Time</a></dd>
        </dl>

        <div class="row">
          <div class="tabs-content">
            <div class="content" ng-class="{active:isActiveTab('friends-tab')}" id="friends-tab">

              <!--leaders-->
              <div class="large-7 medium-7 columns">
                <div class="panel leaders rounded">
                  <div class="table-wrapper">
                    <div class="table-scroll">

                      <table>
                        <tbody>
                          <tr ng-repeat="value in scores | orderBy:'score':true">
                            <td><img ng-src="{{value.pic_square}}" class="circle profile-pic"></td>
                            <td>
                              <h5 class="philz-orange">
                                <small class="philz-orange">#{{value.rank}}</small>
                                {{value.name}}
                              </h5>
                            </td>
                            <td><strong class="green">+{{value.score}}</strong></td>
                            <td class="points">
                              <div class="ix heart-points">
                                <span class="points-container">
                                  <span class="points">1 td</span>
                                  <img src="../images/icon-heart-leaderboard-lg.png" class="icon heart">
                                </span>
                              </div>
                            </td>
                            <td class="points">
                              <div class="ix reward-points">
                                <span class="points-container">
                                  <span class="points">1 td</span>
                                  <img src="../images/icon-reward-leaderboard-lg.png" class="icon reward">
                                </span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
              <!--end leaders-->

              <!--the heart -->
              <div class="large-5 medium-5 columns text-center center">
                <div class="share-heart">
                  <img src="../images/heart-leaderboard.png">
                  <ng-include src="'../../partials/shareHeart.html'"/>
                </div>
              </div>
              <!--end heart-->

            </div>

            <div class="content" ng-class="{active:isActiveTab('week-tab')}" id="week-tab">

              <!--leaders-->
              <div class="large-7 medium-7 columns">
                <div class="panel leaders rounded">
                  <div class="table-wrapper">
                    <div class="table-scroll">

                      <table>
                        <tbody>
                          <tr ng-repeat="value in weeklyScores | orderBy:'score':true">
                            <td><img ng-src="{{value.user.picture.data.url}}" class="circle profile-pic"></td>
                            <td>
                              <h5 class="philz-orange">
                                <small class="philz-orange">#{{value.rank}}</small>
                                {{value.user.name}}
                              </h5>
                            </td>
                            <td><strong class="green">+{{value.score}}</strong></td>
                            <td class="points">
                              <div class="ix heart-points">
                                <span class="points-container">
                                  <span class="points">1 td</span>
                                  <img src="../images/icon-heart-leaderboard-lg.png" class="icon heart">
                                </span>
                              </div>
                            </td>
                            <td class="points">
                              <div class="ix reward-points">
                                <span class="points-container">
                                  <span class="points">1 td</span>
                                  <img src="../images/icon-reward-leaderboard-lg.png" class="icon heart">
                                </span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
              <!--end leaders-->

              <!--the heart -->
              <div class="large-5 medium-5 columns text-center center">
                <div class="share-heart weekly">
                  <div class="timer panel rounded">
                    <ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-4">
                      <li>
                        <span class="metric"><strong>{{days}}</strong></span>
                        <span class="unit">day</span>
                      </li>
                      <li>
                        <span class="metric"><strong>{{hours}}</strong></span>
                        <span class="unit">hrs</span>
                      </li>
                      <li>
                        <span class="metric"><strong>{{minutes}}</strong></span>
                        <span class="unit">min</span>
                      </li>
                      <li>
                        <span class="metric"><strong>{{seconds}}</strong></span>
                        <span class="unit">sec</span>
                      </li>
                    </ul>
                  </div>

                  <div class="prizes">
                    <ul ng-repeat="prize in tournament.prizes" class="prize-item large-block-grid-2 medium-block-grid-2 small-block-grid-2 left-justified">
                      <li><img ng-src="{{prize.image}}" class="circle"></li>
                      <li>
                        <h6>{{$index + 1}} Place</h6>
                        <h4>{{prize.title}}</h4>
                        <p>{{prize.description}}</p>
                      </li>
                    </ul>
                  </div>

                  <ng-include src="'../../partials/shareHeart.html'"/>

                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>
