<div id="scoreboard">
	<div class="row">
		<div class="span12">
			<h1>Scoreboard</h1>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="score-block current-score">
				{{me.name}} current score {{state.score}}
			</div>
		</div>
		<div class="span6">
			<div class="score-block best-score">
				You best score
			</div>
		</div>
	</div>

    <table>
        <caption>Scores</caption>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="value in scores.data track by $index">
            <td>{{$index + 1}}</td>
            <td>{{value.user.name}}</td>
            <td>{{value.score}}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <caption>Onor Scores</caption>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="value in publicScores track by $index">
            <td>{{$index + 1}}</td>
            <td>{{value.user.name}}</td>
            <td>{{value.score}}</td>
        </tr>
        </tbody>
    </table>

	<div class="row">
		<div class="span6">
			<button class="btn btn-primary btn-block" ng-click="playAgain()">Play Again</button>
		</div>
		<div class="span6">
			<button class="btn btn-primary btn-block" ng-click="getPrize()">Get prize!</button>
		</div>
	</div>
</div>
