<button class="btn" ng-click="back()">
    <i class="icon-arrow-left"></i>
</button>

<div app-version></div>

<div >


<timer interval="1000">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
    

</div>

<timer interval="1000"><div class="progress progress-striped active"> <div class="bar" style="width: {{seconds}}%;"></div> </div></timer>

<div class="row">
    <div class="span6">
        <img class="btn" ng-src="{{level.photo1}}"/>
    </div>

    <div class="span6">
        <img class="btn" ng-src="{{level.photo2}}"/>
    </div>
</div>
<div class="row">
    <div class="span6">
        <img class="btn" ng-src="{{level.photo3}}"/>
    </div>
    <div class="span6">
        <img class="btn" ng-src="{{level.photo4}}"/>
    </div>
</div>

<style type="text/css">
    .invalidClass {background-color:red;}
</style>

<div class="row">
    <div class="span12">
    <ul class="inline" ng-class="{'invalidClass': invalid}">
        <li ng-repeat="letter in answer track by $index">
            <div ng-click="remove($index)" style="width:20px;height:20px;border:2px solid;border-radius:5px;">
                {{letter}}
            </div>
        </li>
    </ul>
    </div>
</div>

<ul class="inline">
    <li ng-repeat="letter in other track by $index">
        <div ng-click="add($index)" style="width:20px;height:20px;border:2px solid;border-radius:5px;">
            {{letter}}
        </div>
    </li>
</ul>



