<div class="game-background philz with-image" style="height:{{windowHeight}}px;">

    <!--points alerts-->
    <div class="row point-alert">
        <div class="col-md-12 col-xs-12">
          <div class="row">
            <div class="col-md-10 col-xs-12">
              <div data-alert class="alert-box text-center">
                <strong>Sally, you are 3 word puzzles away from feeding 5 people!</strong>
                <a href="#" class="close">&times;</a>
              </div>
              <div class="triangle"></div>
            </div>
          </div>
        </div>
    </div>

	  <ng-include src="'../../partials/points.html'"></ng-include>

      <div class="row section game">
        <div class="large-10 medium-12 columns center">

          <div class="row">
            <div class="large-6 medium-6 columns">
              <ul class="picture-grid large-block-grid-2 medium-block-grid-2 hide-for-small-only">
                <li>
                  <img class="rounded left-top full-width" ng-src="{{level.photo1}}" imageonload>
                </li>
                <li>
                  <img class="rounded right-top full-width" ng-src="{{level.photo2}}" imageonload>
                </li>
                <li>
                  <img class="rounded left-bottom full-width" ng-src="{{level.photo3}}" imageonload>
                </li>
                <li>
                  <img class="rounded right-bottom full-width" ng-src="{{level.photo4}}" imageonload>
                </li>
              </ul>
              <ul class="picture-grid small-block-grid-4 show-for-small-only">
                <li>
                  <img class="rounded full-width" ng-src="{{level.photo1}}" imageonload>
                </li>
                <li>
                  <img class="rounded full-width" ng-src="{{level.photo2}}" imageonload>
                </li>
                <li>
                  <img class="rounded full-width" ng-src="{{level.photo3}}" imageonload>
                </li>
                <li>
                  <img class="rounded full-width" ng-src="{{level.photo4}}" imageonload>
                </li>
              </ul>
              <a analytics-on ng-click="inviteFriend()" class="button large light-orange expand hide-for-small">Invite A Friend</a>
            </div>

            <div class="large-6 medium-6 columns">

              <div class="puzzle-board">
                <ul class="large-block-grid-6 small-block-grid-6 rounded">
                  <!-- add a non-breaking space (&nbsp;) when letters are removed so the keyboard doesn't collapse-->
                  <li ng-repeat="letter in answer track by $index" analytics-on="removeLetter" ng-click="remove($index)" ng-class="{'invalid-answer':invalid}">{{letter}}</li>
                </ul>
              </div>

              <div class="keyboard text-center">
                <ul class="large-block-grid-6 small-block-grid-6 rounded">
                  <!-- add a non-breaking space (&nbsp;) when letters are removed so the keyboard doesn't collapse-->
                  <li ng-repeat="letter in other track by $index" analytics-on="addLetter" ng-click="add($index)">
                  	<span ng-show="letter == ''">&nbsp;</span>
                  	<span ng-show="letter != ''">{{letter}}</span>
                  </li>
                </ul>
              </div>

              <div class="keyboard extras text-center">
                <ul>
                  <li class="left">
                    <a class="button medium light-orange" ng-click="hint()">Hint</a>
                  </li>
                  <li class="right">
                    <a class="button medium light-orange" analytics-on="revertLetters" ng-click="revertLetters()">
                      <i class="fi-x"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <a analytics-on="inviteFriend" ng-click="inviteFriend()" class="button large light-orange expand invite-friend show-for-small">Invite A Friend</a>

              <a>
                <img class='right brand-logo' ng-src="{{game.design.logo}}">
              </a>
            </div>
          </div>

        </div>

      </div>


    </div>


