<!-- <div class="backgroundLevel">
	State {{state}}

{{remains}} seconds
<timer interval="1000" countdown="countdownAvailable">
    <div class="progress progress-striped active">
        <div class="bar" style="width:{{seconds * 3.3}}%;"></div>
    </div>
</timer>


<div class="row">
    <div class="col-md-6 col-xs-6">
        <div class="image-holder">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <img ng-src="{{level.photo1}}"/>
                </div>
                <div class="col-md-6 col-xs-6">
                    <img ng-src="{{level.photo2}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <img ng-src="{{level.photo3}}"/>
                </div>
                <div class="col-md-6 col-xs-6">
                    <img ng-src="{{level.photo4}}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div id="top-board">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h2>Level- {{state.state.level + 1}}</h2>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div id="hudscore">
                        <span class="score" ng-click="prizeList()">{{lpScore}}</span>
                    </div>
                </div>
            </div>    
        </div>

        <div id="letter-board" class="clearfix">
            <ul id="letter-placeholder" class="inline" ng-class="{'invalidClass': invalid}">
                <li ng-repeat="letter in answer track by $index">
                    <div ng-click="remove($index)">
                        {{letter}}
                    </div>
                </li>
            </ul>
            
            <div id="letter-selections" class="clearfix">
                <ul class="inline">
                    <li ng-repeat="letter in other track by $index">
                        <div ng-click="add($index)">
                            {{letter}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <button class="btn" ng-click="back()">
                <i class="icon-arrow-left"></i>
            </button>
        </div>
    </div>
</div>
</div> -->

<div class="backgroundLevel">
   <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 clearfix">
                <div id="player-pic-container">
                    <img ng-src="{{me.avatar}}" width="83" height="83" alt="" class="img-circle">
                </div>

                <div id="player-lives-container">
                    <ul class="player-lives">
                        <li class="player-life">
                            <span class="heart" ng-class="{'active': state.state.level > 0}"></span>
                        </li>
                        <li class="player-life">
                            <span class="heart" ng-class="{'active': state.state.level > 1}"></span>
                        </li>
                        <li class="player-life">
                            <span class="heart" ng-class="{'active': state.state.level > 2}"></span>
                        </li>
                        <li class="player-life">
                            <span class="heart" ng-class="{'active': state.state.level > 3}"></span>
                        </li>
                        <li class="player-life">
                            <span class="heart" ng-class="{'active': state.state.level > 4}"></span>
                        </li>
                    </ul>
                </div>

                <div id="hudscore">
                    <span class="score" ng-click="prizeList()">{{lpScore}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <timer autostart="false" interval="1000" countdown="countdownAvailable">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{seconds * 3.3}}%;">
                            <span class="sr-only">{{seconds * 3.3}}% Complete</span>
                        </div>
                    </div>
                </timer>   
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="image-holder-container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="image-holder">
                                <img ng-src="{{level.photo1}}" imageonload/>
                            </div>
                            <div class="image-holder">
                                <img ng-src="{{level.photo2}}" imageonload/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="image-holder">
                                <img ng-src="{{level.photo3}}" imageonload/>
                            </div>
                            <div class="image-holder">
                                <img ng-src="{{level.photo4}}" imageonload/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6">
                <div id="letter-board" class="clearfix">
                    <ul id="letter-placeholder" class="inline list-unstyled clearfix" ng-class="{'invalidClass': invalid}">
                        <li ng-repeat="letter in answer track by $index">
                            <div ng-click="remove($index)">
                                {{letter}}
                            </div>
                        </li>
                    </ul>
                    
                    <div id="letter-selections" class="clearfix">
                        <ul class="inline">
                            <li ng-repeat="letter in other track by $index">
                                <div ng-click="add($index)">
                                    {{letter}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
