<div class="background points-counter">
    <div class="row section points">

      <div class="large-10 medium-12 columns center">
        <ul class="points-counterboard">
          <li class="hide-for-small">
          	<img class="circle profile-pic" ng-src="{{me.avatar}}">
          </li>
          <li>
            <div class="ix total-points">
              {{state.state.lpScores[state.state.lpScores.length - 1].score}}<span>PTS</span>
              <ul class="rank">
                <li class="lbl">Rank</li>
                <li class="rank">{{weekly.rank}}</li>
              </ul>
              <ul class="rank">
                <li class="lbl">Weekly</li>
                <li class="rank">{{weekly.score}}</li>
              </ul>
            </div>
          </li>
          <li>
            <timer autostart="false" interval="1000" countdown="countdownAvailable"></timer>
          </li>
          <li class="text-center center">
            <div class="ix heart-points">
              <span class="points-container rewards">
                <span class="points hearts" ng-class="{white:progressFull}">{{progress}}%</span>
                <img src="../images/icon-heart-game-full-lg.png" ng-show="progressFull">
                <img src="../images/icon-heart-game-lg.png" ng-hide="progressFull">
              </span>
              <span class="description">for FeedAmerica &bull; <a ng-click="goToCharity()"><strong>Change</strong></a></span>
            </div>
          </li>
          <li class="text-center center">
            <div class="ix reward-points">
              <span class="points-container rewards">
                <span class="points rewards" ng-class="{white:progressFull}">{{progress}}%</span>
                <img src="../images/icon-reward-game-full-lg.png" ng-show="progressFull">
                <img src="../images/icon-reward-game-lg.png" ng-hide="progressFull">
              </span>
              <span class="description">for your first Philz reward</span>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>