
 <a href="#" data-reveal-id="myModal">Click Me For A Modal</a> 
  
  <div id="myModal" class="reveal-modal" data-reveal>
 	<h2> Redeem Reward </h2>
 	<hr>
 	
 	<div class="row">
  <div class="medium-4 columns"><img src="img/images.jpg">
  <h4>Philz Mint Mojito</h4>
  <p>A $4.00 reward with a $4.00 donation to FeedAmerica</p>
  
  </div>
  <div class="medium-8 columns">

      <input type="text" placeholder="Your Email Address" />
      
      <p>Or</p>
      <input type="text" placeholder="Your Cellphone Number" />
      
     <button>Redeem Rewards</button>
  
  
  </div>
</div>

</div>
    
 <style>
 .reveal-modal {border-radius:15px;text-align:center;}
 h2.{color#8a8b8b;}
 
 </style>
    
 