<div class="game-background philz with-image">

<div id="myModal" class="reveal-modal">
	<h2> Redeem Reward </h2>
 	<hr>
 		  <div class="row">
  		<div class="medium-4 columns">
  			<img src="img/images.jpg">
  			<h4>Philz Mint Mojito</h4>
  			<p>A $4.00 reward with a $4.00 donation to FeedAmerica</p>
  
  		</div>
  		<div class="medium-8 columns">

      		<input type="text" placeholder="Your Email Address" />
      
      		<p>Or</p>
      		<input type="text" placeholder="Your Cellphone Number" />
      
     		<button>Redeem Rewards</button>
  
  
  		</div>
	</div>
	</div>
		
	<ng-include src="'../../partials/points.html'"></ng-include>
	
	<div class="row section goal">
	  <div class="large-10 medium-12 columns center text-center">
	    <h3>{{me.name}} {{votes.heartSize - votes.needed}} out of {{votes.heartSize}} games are played for {{game.name}} to write a check of {{votes.donationPer * 50}}$ for {{pickedCharity.name}}!</h3>
	    <a ng-click="keepPlaying()" class="button light-orange">Keep Playing &nbsp;&amp;&nbsp; Do Good</a>
	    <span class="lead philz-white">&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;</span>
	    <a ng-click="seeLeaderboard()" class="button light-orange">See Leaderboard</a>
	  </div>
	</div>
	
	<div class="row section rewards">    
	  <div ng-include src="prizeUrl" onload="whenLoaded()"></div>
	</div>
	
	

</div>