<div class="backgroundPrize">
<!--     <carousel interval="-1">
        <slide ng-repeat="campaignGroup in campaigns" active="image.isActive">
            <div class="span2"></div>
            <ul class="thumbnails">
            <li ng-repeat="campaign in campaignGroup" class="span2">
            <img ng-src="{{campaign.prize.image}}">
            <div class="carousel-caption">
                <h4>TODO</h4>
            </div>
            </li>
            </ul>
        </slide>
    </carousel> -->


    <div class="container">
        <div id="prize">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="header clearfix">
                        <div class="player-pic-prizes">
                            <img ng-src="{{me.avatar}}" width="83" height="83" class="img-circle" alt="">
                        </div>

                        <h1>{{me.name}}, you are winning!</h1>
                    </div>

                    <div class="box-content">
                        <ul id="img-prizes" class="row">
                            <li class="col-md-3 col-xs-3" ng-repeat="campaign in campaigns" active="image.isActive">
                                
                                <div class="prize-body" ng-class="{available:campaign.available, picked:campaign.picked}" ng-click="pickPrize(campaign)">
                                    <span class="top-tag-prize"></span>
                                    <img ng-src="{{campaign.prize.image}}" alt="">
                                    <p>{{campaign.description}}</p>
                                    <span class="point-required-prize">{{campaign.prize.cost * 1000}} pts. required</span>
                                </div>
                                
                            </li>
                            <li class="col-md-3 col-xs-3">
                                <div id="prize-plus-btn">
                                    <a ng-click="charity()">
                                        <img src="/img/prizes/plus-btn.png" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul> 
                    </div>

                    <div class="footer">
                        <div class="prize-current-score clearfix">
                            <p>Your Alltime Score</p>
                            <span class="score-block">
                                <p>{{wallet}}</p>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-xs-6">
                    <div class="btn-scoreboard-container">
                       <a  class="prize-btn" ng-click="playAgain()">
                            <p>Invite Friends<br>(+10 points each)</p>
                        </a>
                        <a  class="prize-btn" ng-click="getCharity()">
                            <p>Help Philz Do Good</p>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="modal-dialog" ng-show="hasAvailable">
        <div class="modal-content">
            <div class="modal-body">
                Sorry you have to be faster in the game and get more points! Keep trying for this prizes!
                <a  class="leader-btn">
                    <p>Help Philz do Good!</p>
                </a>
            </div>
        </div>
    </div>
</div>