<div class="game-background philz with-image">

	<ng-include src="'../../partials/points.html'"></ng-include>
	
	<div class="row section goal">
	  <div class="large-10 medium-12 columns center text-center">
	    <h3>{{me.name}} {{votes.heartSize - votes.needed}} out of {{votes.heartSize}} games are played for {{game.name}} to write a check of {{votes.donationPer * 50}}$ for {{pickedCharity.name}}!</h3>
	    <a ng-click="keepPlaying()" class="button light-orange">Keep Playing &nbsp;&amp;&nbsp; Do Good</a>
	    <span class="lead philz-white">&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;</span>
	    <a ng-click="seeLeaderboard()" class="button light-orange">See Leaderboard</a>
	  </div>
	</div>
	
	<div class="row section rewards">    
	  <div ng-include src="prizeUrl"></div>
	</div>
	
	<div id="myModal" class="reveal-modal" data-reveal>
	  <h2>Awesome. I have it.</h2>
	  <p class="lead">Your couch.  It is minee.</p>
	  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

</div>