<p class="subhead philz-orange text-center">
	<strong>{{me.name}} {{votes.heartSize - votes.needed}} out of
		{{votes.heartSize}} games are played for {{game.name}} to write a
		check of {{votes.donationPer * 50}}$ for {{pickedCharity.name}}!</strong>
</p>
<a ng-click="playAgain()" ng-show="hasMoreLevelPacks" class="button dark-orange display-block text-center">Play Again</a>
<span ng-show="hasMoreLevelPacks" class="lead philz-orange philz-white">&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;</span>
<a href="game-play.php" class="button dark-orange display-block text-center">Share Your Heart</a>