<p class="subhead philz-orange text-center">
	<strong>{{me.name}} {{votes.heartSize - votes.needed}} out of
		{{votes.heartSize}} games are played for {{game.name}} to write a
		check of {{votes.donationPer * votes.heartSize}}$ for {{pickedCharity.name}}!</strong>
</p>
<a analytics-category="PicPhilzCommands" analytics-on="playAgain" ng-click="playAgain()" class="button dark-orange display-block text-center">Play Again</a>
<span class="lead philz-orange philz-white">&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;</span>
<a analytics-category="PicPhilzCommands" analytics-on="shareHeart" analytics-event="shareHeart" ng-click="share()" class="button dark-orange display-block text-center">Share Your Heart</a>

<a twitter data-lang="en" data-count='vertical' data-url='{{ heartUrl }}'  data-size="medium" data-text='{{heartText}}' ></a>

<a href="https://twitter.com/share?url={{ heartUrl }}&text={{ heartText }}&wrap_links=true" class="twitter-share-button">Tweet your Heart</a>
