<div class="backgroundSplash">
<div class="row">
	<div class="span12">
		<header role="banner" class="header">  
		    <h1 id="logo">
		        <img src="img/phillz/intropage/picphilzlogo_2.png">
		    </h1>
		    <p class="tagline">Pic Philz to play for a daily and weekly prize</p>
		</header>
	</div>
</div>


<button class="btn btn-large btn-primary" ng-click="ld()">ld</button>



<ul class="ca-menu">
                    <li>

                            <div class="ca-content">
                                <h3 class="ca-main">2-minute Bay Area Word Game</h3>
                    
                            </div>

                    </li>
                    <li>
                 
                            <div class="ca-content">
                                <h3 class="ca-main">Win Free Favorite drink</h3>
                    
                            </div>
                           
                           
                 
                    </li>
                    <li>
                 
                            <div class="ca-content">
                                <h2 class="ca-main">Help Philz give to your favorite <br> charity</h2>
                    
                            </div>
                 
                    </li>

    </ul>

    <ul class="da-menu">
      <li>

                            <div class="ca-content">
                                <h3 class="ca-main">PLAY</h3>
                    
                            </div>

                    </li>
                    <li>
                 
                            <div class="ca-content">
                                <h3 class="ca-main">WIN</h3>
                    
                            </div>
                           
                           
                 
                    </li>
                    <li>
                 
                            <div class="ca-content">
                                <h2 class="ca-main">DO GOOD</h2>
                    
                            </div>
                 
                    </li>

    </ul>


<div class="row" align="center">
	<div class="span12">
	<div id="heart" ></div>
	<button class="btn btn-large btn-primary" ng-click="go()">GO</button>
	<img src="img/phillz/intropage/philzanim.gif">
	</div>
</div>
</div>




