<div class="game-background philz with-image start-page" style="height:{{documentHeight}}px;">

  <div class="row section heading start-screen text-center">
    <div class="large-6 columns center">
      <img class='center brand-logo' ng-src="{{game.design.logo}}">
      <hr class="dotted">
      <p class="subhead text-center light">{{(hasMoreLevelPacks || !fbLoggedIn) ? game.description : 'Congratulations ' + me.name + '! You finished the current game. New games will start soon. In the meantime, check out your impact and rankings. Thank you!'}}</p>
    </div>
  </div>

  <div class="row section start">
    <div class="large-4 columns center text-center">
      <a analytics-on="PlayNow" ng-show = "goEnabled" ng-click="go()" class="button large light-orange">{{(hasMoreLevelPacks || !fbLoggedIn) ? 'Play Now':'See rankings'}}</a>

      <div fbothersplayed on-login="fbLoggedIn"></div>


       <!-- To Be Used to Facebook integration later -->
      <div style="display:none;">
        <div class="fb-facepile" data-href="http://facebook.com/FacebookDevelopers" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="true"></div>
      </div>
    </div>
  </div>

  <div class="left shape hide-for-small" ng-hide="showGivePanel" ng-click="showTheGivePanel()">
    <div class="triangle animate-show" style="border-bottom-width:{{windowHeight + 10}}px; height:{{windowHeight}}px;">
      <img src="../images/icon-heart-orange-start.png" class="start-screen-icon" style="top: {{windowHeight / 2}}px;" analytics-on>
      <h4 id="giveText" style="top: {{(windowHeight / 2) + 45}}px;">Give</h4>
    </div>
  </div>

  <div class="left shape hide-for-small" ng-show="showGivePanel" ng-click="hideTheGivePanel()">
    <div class="rectangle animate-show" style="border-bottom-width: {{windowHeight}}px; height: {{windowHeight}}px;">
      <div class="row">
        <div class="large-7 medium-7 columns center">
          <h2 style="margin-top:30px;">Play &amp; Give</h2>
          <span class="close" id="closeGive" analytics-on="hideTheGivePanel" ng-click="hideTheGivePanel()">
            <i class="fi-x"></i>
          </span>
          <ul class="panel-grid large-block-grid-2 medium-block-grid-2 small-block-grid-1" style="margin-top:50px;">
            <li ng-repeat="charity in charities.slice(0,4)">
              <!-- images must be sqaure at least 200x200 px for the circle class to round the images properly. Cheers!
              To get you started we've added images in this format for:
              -Kids in need: logo-charity-kids.jpg
              -Unicef: logo-charity-unicef.jpg
              -Habitat for humanity: logo-charity-hh.jpg
              -Greenpeace: logo-charity-greenpeace.jpg
              -Philz Gift Card: reward-game-philz-gift.jpg
            -->
              <img ng-src="{{charity.charity.logoColor}}" class="circle"/>
              <!-- <img ng-src="{{charity.charity.logoColor}}" class="circle"/> -->
              <h4>{{charity.name}}</h4>
              <p class="brown">{{charity.charity.about}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="right shape hide-for-small" analytics-on="showGetPanel" ng-hide="showGetPanel" ng-click="showTheGetPanel()">
    <div class="triangle animate-show" style="border-bottom-width:{{windowHeight + 10}}px; height: {{windowHeight}}px;">
      <img src="../images/icon-reward-orange-start.png" class="start-screen-icon" style="top: {{windowHeight / 2}}px;"  analytics-on>
      <h4 style="top: {{(windowHeight / 2) + 45}}px;" id="getText">Get</h4>
    </div>
  </div>

  <div class="right shape hide-for-small" analytics-on"hideGetPanel" ng-show="showGetPanel" ng-click="hideTheGetPanel()">
    <div class="rectangle animate-show" style="border-bottom-width: {{windowHeight + 10}}px; height: {{windowHeight}}px;">
      <div class="row">
        <div class="large-7 medium-7 columns center">
          <h2 style="margin-top:30px;">Play &amp; Get</h2>
          <span class="close" id="closeGet" analytics-on ng-click="hideTheGetPanel()">
            <i class="fi-x"></i>
          </span>
          <ul class="panel-grid large-block-grid-2 medium-block-grid-2 small-block-grid-1" style="margin-top:50px;">
            <li ng-repeat="campaign in campaigns.slice(0,4)">
            <img ng-src="{{campaign.prize.image}}" class="circle">
            <h4>{{campaign.prize.title}}</h4>
            <p class="brown">{{campaign.prize.description}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

