@(gameKey:Int, appId:String)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fourpic </title>
        
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Application.appCss(gameKey)">
				<script data-main="/js/app">var appConfig = {'appId':'@appId'};</script>
        <script data-main="/js/app" src="@routes.WebJarAssets.requirejs"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <div class="slide-animation" ng-view></div>
    </body>
</html>