@(client_id:String, callback:String, scope:String)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="language" content="en" />
		<script type="text/javascript">
			var client_id = '@client_id';
			var callback = '@helper.urlEncode(callback)';
			var scope = '@scope';
            window.top.location.href = "https://www.facebook.com/dialog/oauth?client_id=" + client_id + "&scope=" + scope + "&redirect_uri=" + callback;
        </script>
    </head>
</html>